.bonus-row {
  background-color: lighten($link-color, 15);
  color: $white;
  width: 100%;

  .form {
    max-width: 320px;

    .form-control {
      background-color: lighten($link-color, 15);
      border: 1px solid $white !important;
      color: $white;
      padding: $input-padding-y * 3 $input-padding-x;

      &::placeholder {
        color: $white
      }

      &:focus {
        border-right: none !important;
      }
    }

    .btn {
      color: $white;
      padding-right: $input-padding-x;
      background-color: lighten($link-color, 15);
      border: 1px solid $white;
      border-left: none !important;
    }
  }
}

.subscription-form {
  width: 14rem;
  max-width: 15rem;
}

.beta-test-link-wrapper {
  min-width: 8rem;
  max-width: 10rem;
  border-bottom: 4px double $black;
  padding-left: 25px;
  background: url("../img/ok.png") left center no-repeat;
}
