@-ms-viewport {
  width: device-width;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  letter-spacing: normal;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-stretch: normal;
  line-height: 1.67;

  display: flex;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer {
  flex: none;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 0;
  height: 0;
  visibility: hidden;
}

:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dropdown-menu-md-right {
  @include media-breakpoint-up(md) {
    right: 0;
    left: auto;
  }
}

a {
  color: $black;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("../img/caret.png") 99% center no-repeat;
  padding-right: 20px !important;
}
select::-ms-expand { display: none; }

.link,
.link:focus {
  color: $link-color;
}

.link,
.link:focus,
.link:hover {
  position: relative;
  white-space: nowrap;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: $link-color;
  text-decoration: none;

  &:before {
    content: " ";
    position: absolute;
    z-index: 0;
    width: 50%;
    max-width: 50px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: $link-color;
  }

  &.text-dark {
    color: $black;
    border-bottom-color: $black;
    &:before {
      border-bottom-color: $black;
    }
  }

  &.text-red {
    color: $red;
    border-bottom-color: $red;
    &:before {
      border-bottom-color: $red;
    }
  }

  &.link-triple {
    border-bottom-width: 3px;
    border-bottom-style: double;

    &:before {
      bottom: -5px;
      border-bottom-width: 1px;
    }
  }

  &.link-double {
    border-bottom-width: 1px;

    &:before {
      bottom: -3px;
      border-bottom-width: 1px;
    }

    &.stroke-full {
      border-bottom-width: 3px;
      border-bottom-style: double;
      &:before {
        bottom: -3px;
        border-bottom-width: 0;
      }
    }
  }

  &.stroke-full:before {
    width: 100% !important;
    max-width: 100% !important;
  }

  &.link-back {
    padding-left: 20px;

    &:after {
      content: "\2190";
      position: absolute;
      z-index: 0;
      left: -16px;
      top: -9px;
      font-size: 180%;
      font-weight: 100;
    }

    &:before {
      left: 0;
    }
  }
}
// css hack for safari
_::-webkit-full-page-media, _:future, :root .link.link-back:after {
  left: -10px;
  top: -8px;
  font-size: 110%;
}
// and additional css hack for IE10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .link.link-back:after {
    top: -10px !important;
  }
}

.block-narrow {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.text-underline {
  text-decoration: underline;
}

.bg main {
  background: url("../img/logo-big-bg.png") center center no-repeat;
  background-size: auto;
  @include media-breakpoint-down(md) {
    background-size: contain;
  }
}

.close {
  opacity: 1 !important;
}

.modal-header {
  padding-bottom: 0;
  border-bottom: none;

  .close {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.8rem;
  }

  .modal-footer {
    border-top: none;
  }
}

.form-control {
  border-color: $black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none !important;
  font-family: $headings-font-family;

  &:focus {
    border-bottom-style: double;
    border-bottom-width: 3px;
    border-bottom-color: $black;
  }
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  outline: 0;
  box-shadow: none;
}


/* CHECKBOXES */

.custom-checkbox {

  & label {
    position: relative;

    &::before,
    &::after {
      position: absolute;
    }

    &::before {
      color: $black;
      content: "V";
      display: inline-block;
      left: -16px;
      line-height: 1;
      top: 5px;
      z-index: 10;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    &::after {
      border: 1px solid $black;
      content: "";
      display: inline-block;
      height: 16px;
      left: -20px;
      top: 4px;
      width: 16px;
    }
  }

  & input[type="checkbox"] {

    opacity: 0;
    margin-left: -20px;
    margin-top: 5px;
    z-index: 20;
    cursor: pointer;

    & + label::before {
      content: none;
    }

    &:checked + label::before {
      content: "V";
    }

    &:focus + label::after {
      outline: none;
    }
  }
}

.back-link-container {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;

  @include media-breakpoint-up(md) {
    top: 67px;
  }
  @include media-breakpoint-up(lg) {
    top: 73px;
  }


}

.tooltip {
  display: none;
}
